/* nav start */
@media screen and (max-width:425px) {

    .nav-container {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
       width: 400px;
       border: 2px solid blue;
    }

    .nav-items-container {

        flex-direction: column;
        margin-top: 50px;
    }

    .nav-items-container p {
        margin-top: 20px;
    }

    .nav-items-container .nav-items-social-links {
        margin-top: 30px;
    }
/* dashboard  start */

.dashboard {
 flex-direction: column;
 width: 400px;
 flex-direction: column-reverse;
 border: 2px solid green;

}

.dashboard-background {

    background-image: url("/images/Group\ 14.png");
    width:400px;
    background-size: cover;
    margin: 0 auto;
      
}

.dashboard-text{
    width:400px;
    align-items: center;
    margin-top: 0px;
    
}
.dashboard-img{
    min-width: 100%;
    margin-top: 10px;
    margin: 0 auto;
}
.dashboard-img img{
    width: 100%;
    margin-top: 70px;
}

/* dasboard end */


.online-games {
    width: 100%;
   flex-direction: column;
   margin: 0  auto;
   border: 2px solid red;

}


.online-games .online-games-img {
   
   
    margin-top: 30px;

}


/*  paly direction start */
.paly-direction {
    width: 420px;
   flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*  paly direction end*/
}


