/* nav Start */

*{

    margin: 0;
    padding: 0;
}


.nav-container{
   width: 100%;
   margin: 0 auto;
   min-height: 130px;
   display: flex;
   
}

.logo-container{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   

   
}

.logo-container h2{
    font-size: 45px;
  
    text-align: center;
    font-weight: 700;
    line-height: normal;
   
}
.logo-container span{
    color: #FF42A5;
}

.logo-container img{
   
    width: 86px;
    object-fit: cover;
    margin-right: 20px;
}

.nav-items-container{
    
     width: 70%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.nav-items-container p{
       margin-left: 30px;
        color: #3C354F;
        font-size: 18px;
        font-weight: 500;
        
}
.nav-items-container  a{
    margin-bottom: 30px;
    text-decoration: none;
    color: #3C354F;
}

.nav-items-container .nav-items-social-links{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 30px;
    padding:15px ;
    align-items: center;
}

.nav-items-social-links{
    display: flex;
    align-items: center;
    
}
.nav-items-social-links img {
    width: 24px;
    height: 24px;
    align-items: center;
    margin-left: 20px;
   color: #FF42A5;
}
/*nav end  */

/* description-start */
.dashboard{
         width:100%;
        display: flex;
        margin: 0 auto;
        }

.dashboard-background{
    background-image: url("/images/Group\ 14.png");
    background-size: contain;
    height: 700px;
    width: 900px;
     }
     

.dashboard-text{
    align-items: center;
    justify-content: center;
   margin-top: 200px;

}
.dashboard-text h2{
        color: #0B0223;
        text-align: center;    
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
}
.dashboard-text h1{
        text-align: center;
        font-size: 95px;
        font-weight: 800;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.dashboard-text div span{
    color: #534C64;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-transform: lowercase;
        margin-top: 10px;
}





.btn{
    margin-top: 30px;
    margin-left: 220px;
 
}

.btn .btn1{
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-flex;
            padding: 21px 40px;
            align-items: flex-start;
            gap: 20px;
            border: none;
            border-radius: 48px;
                background: var(--Linear, linear-gradient(90deg, #FF42A5 
                 13.13%, #FF42A5 87.94%));
}

.btn .btn2{
    display: inline-flex;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 20px;
        border-radius: 48px;
            background: #4EC5F7;
            color: #FFFF;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                border: none;
                margin-left: 20px;
}

.dashboard-text div span{
    display: block;

}

.dashboard-img{
width: 50%;
}

.dashboard-img img{
width: 100%;
}

/* description-end */



/* online games start */

.online-games{
width: 1420px;
text-align: center;
align-items: center;
margin: 0 auto;

}
.online-games-text{
     text-align: center;
    margin-top: 100px;
}
.online-games-text h2{
       color: #0B0223;
        font-family: Work Sans;
        font-size: 48px;
        font-weight: 700;

       
}
.online-games span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 48px;
        font-weight: 700;
}
.online-games p{
    color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 166.667% */
}

.online-games .online-games-img{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    
}
.online-games .online-games-img p{
    color: #534C64;
         font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        /* 150% */
}

/* online games end*/

/* play dirction start */
.paly-direction{
    width: 1420px;
    margin:100px auto 0;
    display:flex ;
    align-items: center;
    justify-content: center;

}

.paly-direction-text-container{
width: 50%;
margin: 0 auto;
margin-bottom:300px ;
}

.paly-direction .play-direction-text{
    width: 50%;
    margin: 0 auto;
}

.paly-direction .play-direction-text h1{
    
        text-align: right;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 125% */
}
.paly-direction .play-direction-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.paly-direction .play-direction-text p{
    color: #534C64;
        text-align: right;  
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 166.667% */
}
.paly-direction-img{
width: 50%;
margin: 0 auto;

position:relative;
}
.paly-direction-img img{
    width: 100%;
    display: block;
    margin: 0 auto;  

}

.paly-direction-img .play-direction-img2{
    width: 318.5px;
        height: 365.083px;
        border-radius: 8px;
            border: 10px solid #FFF;
            position:relative;
            bottom: 250px;
            right: 130px;
            border: none;
}
/* play dirction end*/




